{% extends "base.html" %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <h2>Reset Your Password</h2>
    <p class="lead">Please enter your new password twice so we can verify you typed it in correctly.</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Change my password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}